In [1]:
import pandas as pd
import matplotlib as plt

In [8]:
df1 = pd.read_csv('./Datasets/adult.data', skipinitialspace=True)
df2 = pd.read_csv('./Datasets/adult.test', skipinitialspace=True)

df2["income-classify"] = df2["income-classify"].replace(["<=50K.", ">50K."], ["<=50K", ">50K"])

df = df1.append(df2, ignore_index=True)

In [9]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income-classify
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,81,?,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,2936,0,20,United-States,<=50K
48813,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K
48814,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States,<=50K
48815,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
48816,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,>50K
48817,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
48818,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
48819,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
48820,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,<=50K
48821,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,<=50K
48822,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,>50K
48823,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
48824,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
48825,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,<=50K
48826,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,?,>50K
48827,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,<=50K
48828,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K
48829,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,<=50K
48830,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
48831,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
48832,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,<=50K
48833,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
48834,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K
48835,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
48836,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [10]:
pd.value_counts(df['income-classify'])

<=50K    37155
>50K     11687
Name: income-classify, dtype: int64

In [19]:
df.describe().round(2)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.00,48842.00,48842.00,48842.00,48842.0,48842.00
mean,38.64,189664.13,10.08,1079.07,87.5,40.42
std,13.71,105604.03,2.57,7452.02,403.0,12.39
min,17.00,12285.00,1.00,0.00,0.0,1.00
25%,28.00,117550.50,9.00,0.00,0.0,40.00
50%,37.00,178144.50,10.00,0.00,0.0,40.00
75%,48.00,237642.00,12.00,0.00,0.0,45.00
max,90.00,1490400.00,16.00,99999.00,4356.0,99.00

In [21]:
df.groupby('income-classify').mean().round(2)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
income-classify,,,,,,
<=50K,36.87,190039.57,9.6,147.01,54.15,38.84
>50K,44.28,188470.57,11.6,4042.24,193.53,45.45

In [12]:
df.groupby([df['income-classify'], df['education']]).mean()

                                    age         fnlwgt  education-num  \
income-classify education
<=50K           10th          37.102919  196456.762673            6.0
                11th          31.383721  196209.050581            7.0
                12th          31.305419  196558.216749            8.0
                1st-4th       46.464435  236603.146444            2.0
                5th-6th       43.329876  233308.574689            3.0
                7th-8th       49.244121  188420.724524            4.0
                9th           40.415385  200646.248951            5.0
                Assoc-acdm    36.143098  192704.541246           12.0
                Assoc-voc     37.506823  178524.497726           11.0
                Bachelors     36.207131  186905.264643           13.0
                Doctorate     45.006135  177265.539877           16.0
                HS-grad       37.978691  189450.785483            9.0
                Masters       42.297162  176144.777129           14.0
                Preschool     41.975610  239480.536585            1.0
                Prof-school   43.847926  188116.949309           15.0
                Some-college  33.708678  189038.568009           10.0
>50K            10th          49.873563  197666.885057            6.0
                11th          46.315217  174410.336957            7.0
                12th          44.041667  209971.520833            8.0
                1st-4th       51.875000  187739.750000            2.0
                5th-6th       48.148148  168273.777778            3.0
                7th-8th       53.580645  175601.725806            4.0
                9th           49.390244  170417.365854            5.0
                Assoc-acdm    42.476998  196563.743341           12.0
                Assoc-voc     42.024904  182064.532567           11.0
                Bachelors     42.721099  190432.780561           13.0
                Doctorate     48.484919  186671.603248           16.0
                HS-grad       44.884539  184252.285657            9.0
                Masters       45.410555  185860.943112           14.0
                Preschool     61.000000  194804.000000            1.0
                Prof-school   45.611021  186047.395462           15.0
                Some-college  44.087736  194132.847310           10.0

                              capital-gain  capital-loss  hours-per-week
income-classify education
<=50K           10th            136.848694     38.635177       36.407834
                11th             85.665116     44.034884       33.338372
                12th             74.970443     25.523810       34.551724
                1st-4th          95.560669     49.707113       38.351464
                5th-6th          94.531120     64.649378       38.587137
                7th-8th         166.109742     57.358343       38.338186
                9th             145.426573     29.630769       37.952448
                Assoc-acdm      117.177609     63.912458       39.563973
                Assoc-voc       190.716699     50.947368       40.727745
                Bachelors       164.479626     66.933149       40.470501
                Doctorate       237.141104     80.165644       43.993865
                HS-grad         154.092614     52.518184       39.823281
                Masters         241.096828     81.353923       41.020868
                Preschool       566.000000     41.353659       36.524390
                Prof-school     188.875576     90.161290       43.018433
                Some-college    124.915825     51.534430       37.465910
>50K            10th           3109.643678    299.000000       45.643678
                11th           2411.217391    202.445652       45.434783
                12th           1903.750000     71.083333       45.812500
                1st-4th         961.000000      0.000000       51.000000
                5th-6th        5106.000000     69.888889       44.925926
                7th-8th        1344.709677     93.000000       48.580645
                9th            3242.658537    145.512195       45.463415
                Assoc-acdm     2132.089588    167.273608       44.392252
                Assoc-voc      2511.850575    136.888889       44.402299
                Bachelors      4035.483248    207.033203       45.344099
                Doctorate      7804.271462    288.893271       47.561485
                HS-grad        2797.717539    155.622453       44.978426
                Masters        4507.064428    231.326936       45.673749
                Preschool     14344.000000      0.000000       40.000000
                Prof-school   14243.319287    282.734198       49.183144
                Some-college   2418.870092    168.528357       44.847310

In [ ]:
df.dtypes